{% extends "layout.html" %}
{% block title %}
    Portefolio
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label>Stock abbrivation</label>
            <select name='symbol' class="form-control mx-auto w-auto">
                {% for option in options %}
                    <option value = "{{ option['abbrivation'] }}">{{ option['abbrivation'] }}</option>
                {% endfor %}
            </select>
            <label>Quanity</label>
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Quanity" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell stock</button>
    </form>
{% endblock %}
